click
einops
fvcore
ipykernel
ipywidgets
jupyter
matplotlib
numpy
pandas
pytorch-lightning
scikit-learn
scipy
seaborn
timm
torch
torchinfo
torchmetrics
torchvision
tqdm
transformers
vit-pytorch